<Files *>
AddDefaultCharset utf-8
</Files>

<Files ~ "\.(html|pl|php|txt|cgi|map)$">
AddDefaultCharset utf-8
</Files>


RewriteEngine on
RewriteRule ^rss$ rss.php
RewriteRule ^qa$ addr.php
RewriteRule ^qa/([a-zA-Z0-9_-]+)$ addr.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/rss$ addr.php?mapid=$1&page=rss
RewriteRule ^qc/([a-zA-Z0-9_-]+)/rss$ addr.php?mapid=$1&page=rss

RewriteRule ^qa/([a-zA-Z0-9_-]+)/rss2$ rss.php?mapid=$1

RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr$ addr.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr/([0-6])$ addr.php?mapid=$1&errtype=$2
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr-map$ addr-map.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr-map/([0-6])$ addr-map.php?mapid=$1&errtype=$2




RewriteRule ^qa/([a-zA-Z0-9_-]+)/routing$ addr.php?mapid=$1&page=routing
RewriteRule ^qa/([a-zA-Z0-9_-]+)/routing-map$ routing-map.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/routing-map/([0-4])$ routing-map.php?mapid=$1&level=$2

RewriteRule ^qa/([a-zA-Z0-9_-]+)/rd-map$ qq-map.php?mapid=$1&test=rd
RewriteRule ^qa/([a-zA-Z0-9_-]+)/hwc-map$ qq-map.php?mapid=$1&test=hwc
RewriteRule ^qa/([a-zA-Z0-9_-]+)/dnodes-map$ qq-map.php?mapid=$1&test=dnodes
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr-street-map$ qq-map.php?mapid=$1&test=addr-street


RewriteRule ^daily$ maps7.php
RewriteRule ^daily/([a-zA-Z0-9_-]+)$ maps7.php?group=$1
RewriteRule ^misc_maps$  maps5.php
RewriteRule ^stat$  stat.php
RewriteRule ^stat2$ addr.php?page=stat_summary
RewriteRule ^stat2/([a-zA-Z0-9_-]+)$ addr.php?page=stat_summary&group=$1
RewriteRule ^blog/([a-zA-Z0-9_-]+)$ blog.php?postid=$1


RewriteRule ^qa_addr$ addr.php?page=addr_summary

RewriteRule ^fixme$  2/fixme.php
RewriteRule ^fixme/p0/([0-9.-]+,[0-9.-]+)$  2/fixme.php?p0=$1 [QSA]
RewriteRule ^fixme/TH$  2/fixme.php?campaign=TH [QSA]

RewriteRule ^dev/fixme$  2.dev/fixme.php
RewriteRule ^dev/fixme/p0/([0-9.-]+,[0-9.-]+)$  2.dev/fixme.php?p0=$1 [QSA]
RewriteRule ^dev/fixme/TH$  2.dev/fixme.php?campaign=TH [QSA]
RewriteRule ^dev/fixme/JP$  2.dev/fixme.php?campaign=JP [QSA]

Redirect 301 /daily.php http://peirce.gis-lab.info/daily 
