<Files *>
AddDefaultCharset utf-8
</Files>

<Files ~ "\.(html|pl|php|txt|cgi|map)$">
AddDefaultCharset utf-8
</Files>


RewriteEngine on
RewriteRule ^rss$ rss.php
RewriteRule ^qa$ addr.php
RewriteRule ^qa/([a-zA-Z0-9_-]+)$ addr.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/rss$ rss.php?mapid=$1
RewriteRule ^qc/([a-zA-Z0-9_-]+)/rss$ rss.php?mapid=$1

RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr/([0-6])$ addr.php?mapid=$1&errtype=$2
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr-map$ addr-map.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/addr-map/([0-6])$ addr-map.php?mapid=$1&errtype=$2

RewriteRule ^qa/([a-zA-Z0-9_-]+)/routing-map$ routing-map.php?mapid=$1
RewriteRule ^qa/([a-zA-Z0-9_-]+)/routing-map/([0-4])$ routing-map.php?mapid=$1&level=$2

RewriteRule ^qa/([a-zA-Z0-9_-]+)/rd-map$ qq-map.php?mapid=$1&test=rd
RewriteRule ^qa/([a-zA-Z0-9_-]+)/hwc-map$ qq-map.php?mapid=$1&test=hwc
RewriteRule ^qa/([a-zA-Z0-9_-]+)/dnodes-map$ qq-map.php?mapid=$1&test=dnodes


RewriteRule ^daily$ maps7.php
RewriteRule ^misc_maps$  maps5.php
RewriteRule ^stat$  stat.php
RewriteRule ^blog/([a-zA-Z0-9_-]+)$ blog.php?postid=$1


RewriteRule ^qa_addr$ addr.php?page=addr_summary


Redirect 301 /daily.php http://peirce.gis-lab.info/daily 
